<div class="app">

    <header>
        <nav>
            <a [routerLink]="['Users']">Users</a>
            <a [routerLink]="['NewUser']">New User</a>
        </nav>
    </header>

    <div class="content">
        <h1>Hello Angular 2 World.</h1>

        <div>
            <span>Logged in as {{currentUser.userName}} - {{currentUser.firstName}} {{currentUser.lastName}}</span>

            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="footer">Footer goes here</div>

</div>